* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator-case {
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  box-shadow: 0 0 4px lightgray;
  width: 380px;
  padding: 40px;;
  height: 55%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.numbers,
.operators {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.numbers {
  flex-direction: row-reverse;
}

.display {
  background-color: black;
  color: white;
  width: 95%;
  height: 58px;
  margin: 0;
  padding: 20px;
  text-align: right;
  font-family: monospace;
}

button {
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  width: 5em;
  height: 5em;
  transition-duration: .15s;
}

button:active {
  background-color: lightblue;
}